PORT=3000
NODE_ENV=production

# Requerido para procesar los pagos (Checkout Pro de MercadoPago)
# Genera este token en tu panel de desarrollador: https://www.mercadopago.com/developers/panel/credentials
MERCADOPAGO_ACCESS_TOKEN=tu_token_de_mercadopago_aqui

# Requerido para el envío automático de correos (Resend.com)
RESEND_API_KEY=tu_api_key_de_resend_aqui

# URL de la aplicación en producción (Ej. https://arquitectura-para-todos.onrender.com)
APP_URL=http://localhost:3000

# URL de notificación para Webhooks (Donde MercadoPago enviará confirmaciones de pago asíncronas)
WEBHOOK_BASE_URL=http://localhost:3000
